// Default button styles
button{
  cursor: pointer;
}

// Custom button styles
.btn-base{
  display: inline-block;
  background-color: $btnBaseColor;
  border-radius: 3px;
  box-shadow: inset 0 -2px 0 #00a085;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 17px 30px;

  @media(max-width: 980px){
    padding: 15px 20px;
    font-size: 14px;
  }

  &.btn-big{
    padding: 23px 70px;
    font-size: 18px;

    @media(max-width: 1600px) {
      padding: 20px 55px;
    }
    @media(max-width: 1280px){
      padding: 15px 40px;
    }
    @media(max-width: 980px){
      padding: 10px 15px;
      font-size: 14px;
    }
    @media(max-width: 480px){
      padding: 8px 12px;
      font-size: 12px;
    }
  }

  &.btn-small{
    padding: 7px 6px;

    @media(max-width: 1280px){
      padding: 8px 4px;
      font-size: 11px;
    }
  }

  &.btn-header{
    padding: 15px 20px;
  }

  &:hover{
    background-color: #17a78b;
    box-shadow: inset 0 -2px 0 #148e76;
    color: #fff;
  }
}