// icon-plus on images hover with bg and opacity changing
// usage:
// <element class="...your-classes... img-hover">
//    <img src="source to your img">
//    <span class="icon-plus"></span>
// </element>

.img-hover{
  position: relative;
  background-color: #00bc9c;

  .icon-plus{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 19px;
    transform: translate(-50%);
    display: none;

    &:before, &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      background: #fff;
    }

    &:after{
      transform: rotate(90deg);
    }
  }

  &:hover{
    img{
      opacity: 0.1;
    }

    .icon-plus{
      display: block;
    }
  }
}