.slicknav_menu{
  display:none;
  background: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  .slicknav_nav{
    position: absolute;
    right: 5px;
    top: 48px;
    width: calc(100vw - 27px);
    background-color: $dropdownBg;
    border: 1px solid #e6e9ed;
    border-radius: 2px;

    a{
      color: #506a85;

      &:focus{
        outline: none;
      }

      &:hover{
        border-radius: 3px;
      }
    }

    li > .header-menu-item, li > .slicknav_item{
      padding: 10px 0 10px 15px;
      text-transform: uppercase;
      font-weight: bold;

      &:hover{
        background-color: #00bc9c;
        color: #fff;

        .header-menu-item{
          color: #fff;
        }

        @media(max-width: 767px){
          background-color: transparent;
          color: #506a85;

          .header-menu-item{
            color: #506a85;
          }
        }
      }
    }

    li + li{
      border-top: 1px solid #e6e9ed;
    }

    .slicknav_item{
      .header-menu-item{
        &:hover{
          background: none;
        }
      }
    }

    .home-dropdown{
      .dropdown-menu-item{
        text-transform: uppercase;
        padding: 5px 0 5px 10px;

        &:hover{
          background-color: #00bc9c;
          color: #fff;
        }
      }
    }

    .mega-menu-dropdown{
      height: 300px;
      overflow-y: scroll;
      color: #506a85;

      a.img-hover:hover{
        border-radius: 0;
      }

      p{
        font-size: 12px;
      }

      .btn-base{
        display: inline-block;
        color: #fff;

        &:hover{
          background-color: #17a78b;
          box-shadow: inset 0 -2px 0 #148e76;
          color: #fff;
        }
      }

      .mega-menu-item{
        width: 100%;
        text-align: center;
        padding: 20px 0;
        max-width: 240px;
        margin: 0 auto;

        .slicknav_item{
          padding: 0;

          &:hover{
            background: none;
            color: inherit;
          }
        }

        .block-title{
          display: inline-block;
          margin-bottom: 25px;
          font: bold 16px/1 'Lato', sans-serif;
          text-transform: uppercase;
          letter-spacing: 0.05em;
        }

        .img-wrap{
          display: block;
          max-width: 240px;
          padding: 0;
          margin: 0 auto 15px;
        }

        .mega-menu-item-text{
          line-height: 1.5em;
          letter-spacing: -0.01em;
          margin-bottom: 1.5em;
          text-align: left;
        }

        .block-list{
          font-size: 12px;
          max-width: 300px;
          margin: 0 auto;
          text-align: left;

          li + li{
            margin-top: 10px;
          }

          a{
            padding-left: 15px;
            position: relative;

            &:hover{
              color: #eb6397;
              background: none;
            }

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 43%;
              width: 5px;
              height: 5px;
              border: 1px solid #506a85;
              border-radius: 50%;
            }
          }
        }

        .link-gallery{
          font-size: 0;

          .link-gallery-item{
            display: inline-block;
            max-width: 49%;
            padding: 0;
            margin: 0;

            &:nth-child(even){
              margin-left: 2%;
            }

            &:nth-child(n+3){
              margin-top: 2%;
            }
          }
        }
      }
    }

    @media(max-width: 767px){
      width: 100vw;
      right: 0;
    }
  }

  .slicknav_btn{
    background: none;

    .slicknav_icon-bar{
      box-shadow: none;
      background-color: #506a85;
    }
  }

  @media(max-width: 767px){
    margin-left: 30px;
  }
}
@media(max-width: 980px){
  .slicknav_menu{
    display:block;
  }
}