.our-works{
  background-color: $sectionBg;

  .section-title{
    @media(max-width: 980px){
      font-size: 40px;
    }
    @media(max-width: 480px){
      font-size: 35px;
    }
  }

  .section-text{
    max-width: 800px;
    margin: 0 auto;
    font-size: 22px;
    line-height: 1.5em;
    letter-spacing: 0.01em;

    @media(max-width: 980px){
      font-size: 20px;
    }
    @media(max-width: 480px){
      font-size: 16px;
    }
  }

  .our-works-wrap{
    margin-top: 70px;

    .work-item{
      width: 100%;
      max-width: 570px;

      .img-wrap{
        display: block;
        position: relative;
        background-color: #00bc9c;

        .icon-plus{
          position: absolute;
          top: 50%;
          left: 50%;
          width: 19px;
          transform: translate(-50%);
          display: none;

          &:before, &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background: #fff;
          }

          &:after{
            transform: rotate(90deg);
          }
        }

        &:hover{
          img{
            opacity: 0.1;
          }

          .icon-plus{
            display: block;
          }
        }
      }

      & + .work-item{
        margin-left: 20px;
      }

      &:hover{
        cursor: pointer;

        img{
          opacity: 0.1;
        }

        .icon-plus{
          display: block;
        }
        
        .work-item-title{
          color: #00bc9c;
        }
      }

      .work-item-description{
        padding: 30px 10px;
        background-color: #fff;
        border: 1px solid #e6e9ed;
        border-top: none;
        border-radius: 0 0 3px 3px;
        box-shadow: 0px 2px 0px 0px rgba(230,233,237,1);

        .work-item-title{
          font: bold 20px/1 'Lato', sans-serif;
          margin-bottom: 10px;
          letter-spacing: 0.02em;

          @media(max-width: 980px){
            font-size: 18px;
          }
        }
        .work-item-text{
          color: #73879c;
        }
      }

      @media(max-width: 767px){
        margin: 0 auto 20px;
      }
    }

    @media(max-width: 980px){
      margin-top: 5%;
    }

    @media(max-width: 767px){
      flex-direction: column;
      margin-top: 7%;

      .work-item + .work-item{
        margin-left: auto;
      }
    }
  }
}