.main-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

// shrink on scroll
.main-header.shrinked{
  .header-row{
    display: none;
  }

  .header-nav{
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,.1);

    .header-nav-wrap{
      height: 50px;

      .logo-wrap{
        width: 10%;
        min-width: 95px;
        margin-right: 3%;
      }

      .header-menu-item{
        padding: 10px 20px;
      }

      .dropdown-item-default{
        &.mega-menu-dropdown{
          top: 44px;
        }

        &.home-dropdown{
          top: 26px;
        }
      }
    }
  }
}